#resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 230px;
    gap: 20px;
}

#resultados > label {
    margin-top: 30px;
}

form.calculo  {
    width: 80%;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form.calculo > button {
    margin-top: 20px;
}


#backToConvert {
    position: absolute;
    top: 30px;
    left: 30px;
    min-width: none !important;
    width: 1% !important;
    background-color: rgb(194, 0, 0);
    display: grid;
}

#backToConvert:hover {
    background-color: rgb(138, 0, 0);
}

#backToConvert > p {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

#backToConvert > p::before {
    content: url('../images/arrow-left-circle.svg');
}

.calculoBoxInput {
    width: 80%;
    max-width: 700px;
}
    
footer {
    text-align: center;
}

footer > a {
    filter: drop-shadow(0px 0px 2px #fff);
}

footer img {
    animation: pulsa 2s linear infinite;
}

@keyframes pulsa {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1);
    }
}